/* Add this CSS code to your stylesheet */

body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

/* Message styles */
.message {
   background-color: orange;
   color: white;
   padding: 15px;
   margin-bottom: 25%; /* Adjusted margin-bottom */
   position: absolute;
   left: 60%;
   transform: translateX(-50%);
   border-radius: 8px;
   text-align: center;
   width: 400px;
   order: 1; /* Change the order to 1 */
}

.message span {
   display: block;
   margin-bottom: 10px;
}

.message i {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   cursor: pointer;
}

/* Form container styles */
.form-container {
   max-width: 400px;
   background: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   order: 2; /* Change the order to 2 */
   margin-left: 20%; /* Move the form to the right side */
}

/* Form styles */
form {
   text-align: center;
}

form h3 {
   font-size: 24px;
   margin-bottom: 20px;
   color: orange;
}

form p {
   margin-bottom: 10px;
}

form input {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
   font-size: 16px;
}

form .btn {
   background-color: orange;
   color: orange;
   padding: 10px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   color: white;
}

form a {
   display: inline-block;
   text-decoration: none;
   color: #1877f2;
   border: 1px solid #1877f2;
   padding: 8px 15px;
   border-radius: 20px;
   margin-top: 10px;
}

form a:hover {
   text-decoration: underline;
}
